[submodule "lmdb-master-sys/lmdb"]
	path = lmdb-master-sys/lmdb
	url = https://github.com/LMDB/lmdb
	branch = mdb.master
[submodule "lmdb-master3-sys/lmdb"]
	path = lmdb-master3-sys/lmdb
	url = https://github.com/LMDB/lmdb.git
	branch = mdb.master3
